<div ng-controller="ShowTodosViewCtrl">
  <div class="row">
    <div class="col-md-12">
      <h4>Tasks</h4>

      <div ng-switch="todos.length">
        <span ng-switch-when="0">No TODOs yet...</span>
        <!--TODO: [1;0] Get rid of case like `N of N remaining'-->
        <span ng-switch-default>{{remaining()}} of {{todos.length}} remaining</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-condensed">
        <tbody>
        <tr ng-repeat="todo in todos" ng-class="{'success': todo.done}">
          <td><input type="checkbox" ng-model="todo.done"></td>
          <td><span class="done-{{todo.done}}">{{todo.text}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-success" href="" ng-if="todos.length - remaining() > 0"
         ng-click="done()">Done <span class="badge">{{todos.length - remaining()}}</span></a>
    </div>
  </div>
</div>
