<div ng-controller="AddTodoViewCtrl">
  <div class="row">
    <div class="col-md-12">
      <form ng-submit="addTodo()">
        <div class="form-group">
          <label for="todoTextInput">Task</label>
          <input class="form-control" id="todoTextInput" ng-model="todoText" type="text" size="30"
                 placeholder="Task summary">
        </div>

        <div class="form-group">
          <label for="dueDateTimeInput">Due date</label>
          <input class="form-control" id="dueDateTimeInput" ng-model="dueDateTime" type="datetime-local" >
        </div>

        <a class="btn btn-default" href="#!/todos" role="button">Cancel</a>
        <input class="btn btn-success" ng-disabled="!validate()" type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
